services:
  node-server-api:
    build:
      context: ..
      dockerfile: Dockerfile.node-server-api   # if you keep it
    ports:
      - "3003:3003"
    networks: [app_network]
    restart: unless-stopped

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks: [app_network]
    restart: unless-stopped

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks: [app_network]
    restart: unless-stopped

  weather-api:
    build:
      context: ..
      dockerfile: Dockerfile.weather_api
    ports:
      - "8000:8000"
    depends_on: [redis]
    networks: [app_network]
    restart: unless-stopped

  intertwino_api:
    image: aliduabubakar/intertwino_api:latest
    ports:
      - "5005:5000"
    depends_on: [mongo]
    environment:
      MONGO_HOST: mongo
      MONGO_PORT: 27017
    volumes:
      - pipeline_data:/app/data
    networks: [app_network]
    restart: unless-stopped

networks:
  app_network:
    external: true

volumes:
  mongo_data:
  redis_data:
  pipeline_data:
    external: true